{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Home {% endblock %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>manage <b>Phone book</b>
                    <button type="button" class="btn btn-success float-right"
                            data-toggle="modal" data-target="#mymodal">Add new contact
                    </button>
                </h2>

                <!--                {% with messages = get_flashed_messages() %}-->
                <!--                    {% if messages %}-->
                <!--                        {% for massage in massages %}-->
                <!--                            <div class="alert alert-success alert=dismissable" role="alert">-->
                <!--                                <button type="button" class="close" data-dismiss="alert" aria-label="close">-->
                <!--                                    <span aria-hidden="true">x</span>-->
                <!--                                </button>-->
                <!--                                {{ message }}-->

                <!--                            </div>-->

                <!--                        {%endfor%}-->
                <!--                    {%endif%}-->
                <!--                {% endwith %}-->

                <table class="table table-hover">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Action</th>
                    </tr>


                    {% for row in contacts %}

                    <tr>

                        <td>{{ row.first_name }}</td>
                        <td>{{ row.last_name }}</td>
                        <td>{{ row.phone_number }}</td>


                        <td>
                            <a href="/update/{{ row.id }}" class="btn btn-warning btn-xs" data-toggle="modal"
                               data-target="#modaledit{{ row.id }}">Edit</a>
                            <a href="" class="btn btn-danger btn-xs"
                               onclick="return confirm('Are You sure to delete?')">Delete</a>
                        </td>
                    </tr>


                    <!--     Modal Edit contact      -->
                    <div id="modaledit{{ row.id }}" class="modal fade" role="dialog">
                        <div class="modal-dialog">


                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Update Information</h4>
                                </div>

                                <div class="modal-body">

                                    <form action="{{ url_for('update') }}" method="POST">
                                        <div class="form-group">

                                            <label>First name:</label>
                                            <input type="hidden" name="id" value="{{ row.id }}">

                                            <input type="text" class="form-control" name="first_name"
                                                   value="{{ row.first_name }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Last Name:</label>
                                            <input type="text" class="form-control" name="last_name"
                                                   value="{{ row.last_name }}">
                                        </div>

                                        <div class="form-group">
                                            <label>Phone:</label>
                                            <input type="number" class="form-control" name="phone_number"
                                                   value="{{ row.phone_number }}">
                                        </div>

                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Update</button>
                                        </div>

                                    </form>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>

                    </div>


                    {% endfor %}

                </table>


                <!--     Modal ADD contact       -->
                <div id="mymodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">


                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Add Contact</h4>
                            </div>

                            <div class="modal-body">

                                <form action="{{ url_for('insert') }}" method="POST">
                                    <div class="form-group">

                                        <label>First name:</label>
                                        <!--                                        <input type="hidden" name="first_name" required="1">-->

                                        <input type="text" class="form-control" name="first_name" required="1">
                                    </div>

                                    <div class="form-group">
                                        <label>Last Name:</label>
                                        <input type="text" class="form-control" name="last_name" required="1">
                                    </div>

                                    <div class="form-group">
                                        <label>Phone:</label>
                                        <input type="number" class="form-control" name="phone_number" required="1">
                                    </div>

                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Add contact</button>
                                    </div>

                                </form>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}